name: Deploy to DigitalOcean

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Frontend Dependencies
        run: npm ci

      - name: Lint
        run: NODE_OPTIONS="--max-old-space-size=512" npm run lint

      - name: Build Frontend
        run: NODE_OPTIONS="--max-old-space-size=512" npm run build

      - name: Install Backend Dependencies
        run: |
          cd server
          npm ci

      - name: Free up Memory
        run: |
          docker compose down || true
          docker system prune -f || true

      - name: Restart Services with Docker Compose
        run: |
          docker compose up -d --build
