name: Deploy to DigitalOcean

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Frontend Dependencies
        run: npm install

      - name: Lint
        run: npm run lint

      - name: Build Frontend
        run: npm run build

      - name: Install Backend Dependencies
        run: |
          cd server
          npm install

      - name: Restart Services with Docker Compose
        run: |
          docker compose up -d --build
